div#category-sticky-post-container {
	margin:  0 0 -1em 0;
	padding: 0em;
}

div#category-sticky-post-container p {
	margin:  0;
	padding: 1em;
}

div#category-sticky-post-container p select[name="category_sticky_post"] {
	width: 90%;
}

button[aria-describedby="category-sticky-post-metabox-handle-order-higher-description"],
button[aria-describedby="category-sticky-post-metabox-handle-order-lower-description"] {
	display: none;
}
